#include <physical_layouts.dtsi>

/ {
    physical_layout0: physical_layout_0{
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0    0       0     0     0>
            , <&key_physical_attrs 100 100  106    0       0     0     0>
            , <&key_physical_attrs 100 100  212    0       0     0     0>
            , <&key_physical_attrs 100 100  318    0       0     0     0>
            , <&key_physical_attrs 100 100  430    0       0     0     0>
            , <&key_physical_attrs 100 100  534    0       0     0     0>
            , <&key_physical_attrs 100 100    0  112       0     0     0>
            , <&key_physical_attrs 100 100  106  112       0     0     0>
            , <&key_physical_attrs 100 100  212  112       0     0     0>
            , <&key_physical_attrs 100 100  318  112       0     0     0>
            , <&key_physical_attrs 100 100    0  224       0     0     0>
            , <&key_physical_attrs 100 100  106  224       0     0     0>
            , <&key_physical_attrs 100 100  212  224       0     0     0>
            , <&key_physical_attrs 100 100  318  224       0     0     0>
            , <&key_physical_attrs 100 100    0  336       0     0     0>
            , <&key_physical_attrs 100 100  106  336       0     0     0>
            , <&key_physical_attrs 100 100  212  336       0     0     0>
            , <&key_physical_attrs 100 100  318  336       0     0     0>
            , <&key_physical_attrs 100 100  430  336       0     0     0>
            , <&key_physical_attrs 100 100  534  336       0     0     0>
            ;
    };

    position_map {
        compatible = "zmk,physical-layout-position-map";
        complete;
        layout0: layout0 {
            physical-layout = <&physical_layout0>;
            positions
                = <0  1  2  3  4  5>
                , <6  7  8  9>
                , <10 11 12 12>
                , <14 15 16 17 18 19>;
        };
    };
};